body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: snow;
}

button, .varis {
    cursor: pointer;
}

.terutus, .terbiwih {
    display: flex;
    justify-content: center;
    gap: 10px;
    position: fixed;
    left: 0;
    width: 100%;
    background-color: white; 
    padding: 10px 0; 
    z-index: 1000;
}

.terutus {
    top: 0;
}

.terbiwih {
    bottom: 0;
}

.varis {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid red;
    color: black;
    padding: 5px 20px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
    font-size: 5px; 
}
